body {
    margin: 0;
}
.con {
    width: 90%;
    margin: auto;
    border-radius: 10px;
    padding: 30px;
    background-color: hsla(0, 0%, 50%, 0.3);
    border: 5px solid hsl(0, 0%, 50%);
}
main {
    margin: 20px;
}
h1 {
    text-align: center;
}
p {
    font-size: 43px;
    margin-top: 25px;
    text-align: center;
    font-weight: 900;
    font-family: courier, monospace;
    color: hsl(250, 60%, 60%);
}
.navdiv {
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.navbar {
    padding-right: 3px;
    padding-left: 30px;
    background-color: hsl(0, 0%, 50%);
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover {
    background-color: hsl(0, 0%, 14%);
}
li {
    list-style: none; 
    display: inline-block;
}
li a {
color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
    font-family: courier, monospace;
}
.section {
    margin: 0;
    text-align: center;
}
.logo h1 {
    color: white;
    font-family: courier, monospace;
}
.info-table {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 35px;
    border-collapse: collapse;
}  
.info-table td {
    font-size: 25px;
    padding: 20px;
    border-bottom: 3px solid hsl(0, 10%, 74%);
    font-weight: 900;
    font-family: courier, monospace;
    color: hsl(250, 60%, 60%);

}
.info-table td a{
    font-size: 25px;
    color: hsl(0, 0%, 0%);
    font-weight: 900;
    text-decoration: none;
    font-family: courier, monospace;
    color: hsl(250, 60%, 60%);
}
.info-table td:first-child {
    font-weight: bold;
    font-size: 25px;
    color: hsl(250, 60%, 80%);
    text-align: right;
}
.profile-pic {
    display: block;
    max-width:170px;
    height: auto;
    border-radius: 50%;
    margin: auto;
    margin-top: 25px;
    border: 2px solid white;
}
