* {
    font-family: courier, monospace;
}
body {
    margin: 0;
}
.con {
    width: 90%;
    margin: auto;
    border-radius: 10px;
    padding: 30px;
    background-color: hsla(0, 0%, 50%, 0.3);
    border: 10px double hsl(0, 0%, 50%);
}
main {
    margin: 20px;
}
h1 {
    text-align: center;
}
.eyy {
    font-size: 30px;
    text-align: center;
    font-weight: 900;
    font-family: courier, monospace;
    color: hsl(250, 60%, 60%);
}
.pro {
    border: 5px double hsl(0, 0%, 50%);
    background-color: hsl(0, 70%, 0%, 0.4);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
}
.pro p{
    font-size: 30px;
    text-align: center;
    font-weight: 900;
    font-family: courier, monospace;
    color: hsl(250, 60%, 60%);
}
.section {
    margin: 0px 0;
    text-align: center;
    background-color: hsl(0, 70%, 0%, 0.4);
    border: 5px double hsl(0, 0%, 50%);
    border-radius: 5px;
}
.navbar {
    display: flex;
    padding-right: 3px;
    padding-left: 30px;
    align-items: center;
    background-color: hsl(0, 0%, 50%, 0.3);
    justify-content: space-between;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 3px;
    display: block;
    text-align: center;
}
.navbar a:hover {
    background-color: hsl(0, 0%, 14%);
    font-size: 30px;
}
li {
    list-style: none; 
    display: inline-block;
}
li a {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
    font-family: courier, monospace;
}
.logo h1 {
    color: white;
    font-family: courier, monospace;
}
.info-table {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 35px;
    border-collapse: collapse;
}  
.info-table td {
    font-size: 25px;
    padding: 20px;
    border-bottom: 3px dotted hsl(0, 10%, 74%);
    font-weight: 900;
    font-family: courier, monospace;
    color: hsl(250, 60%, 60%);
}
.info-table td a{
    font-size: 25px;
    font-weight: 900;
    text-decoration: none;
    font-family: courier, monospace;
    color: hsl(250, 60%, 60%);
}
.info-table td:first-child {
    font-weight: bold;
    font-size: 25px;
    color: hsl(250, 60%, 80%);
    text-align: right;
}
.profile-pic {
    display: block;
    max-width:170px;
    height: auto;
    border-radius: 50%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 50px;
    border: 5px solid hsl(0, 10%, 74%);
}
b {
    color: hsl(250, 50%, 80%);
}
p b {
    color: hsl(250, 50%, 80%);
    font-size: 40px;
    margin-bottom:30px;
}
audio::-webkit-media-controls-panel
{
    background-color: hsl(250, 60%, 60%);
}
audio::-webkit-media-controls-mute-button {
    background-color: hsl(250, 50%, 80%);
    border-radius: 50%;
}
audio::-webkit-media-controls-play-button {
  background-color: hsl(250, 60%, 40%);
  border-radius: 50%;
}
audio::-webkit-media-controls-current-time-display {
  color: #ffffff;
}
audio::-webkit-media-controls-time-remaining-display {
    color: #ffffff;
}
.icon-container {
    color: hsl(0, 0%, 70%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.audio-icon {
    width: 7%;
}
